<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chess">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/chess_logo"
        android:label="Android Chess"
        android:roundIcon="@mipmap/chess_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Chess">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>